<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-6">
        <div class="input-group rounded mt-3">
          <input type="search" class="form-control rounded search" placeholder="Search..." aria-label="Search" aria-describedby="search-addon" />
          <span class="input-group-text border-0" id="search-addon">
            <i class="bi bi-search"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
  <app-zone-tourist-list></app-zone-tourist-list>