<div class="container  justify-content-center align-items-center img-details mt-5">
    <article class="d-flex justify-content-center align-items-center">
        <img [src]="zoneTourist?.image" loading="lazy" class="img-details">
    </article>
    <div class="container">
        <h2>{{zoneTourist?.nom}}</h2>
        <p><strong>Pays: </strong>{{zoneTourist?.pays}}</p>
        <p><strong>Ville: </strong>{{zoneTourist?.ville}}</p>
        <p><strong>Description: </strong>{{zoneTourist?.descriptionLong}}</p>
    </div>
</div>
